lsi: false
safe: true
source: .
incremental: false
highlighter: rouge
gist:
    noscript: false
kramdown:
    math_engine: mathjax
    syntax_highlighter: rouge
plugins:
    - jekyll-feed
    - jekyll-sitemap
    - jekyll-seo-tag

collections:
    authors:
        output: true

defaults:
    - scope:
        path: ""
        type: "authors"
        values:
            layout: "author"
    - scope:
        path: ""
        type: "posts"
        values:
            layout: "post"
    - scope:
        path: ""
        values:
            layout: "default"